#kontxt_slideout {
    /* position: absolute; */
    position: fixed;
    bottom: 100px;
    right: 0;
    width: 35px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#kontxt_slideout_tab {
    position: relative;
    top: 0;
    left: 0;
    padding: 8px 8px 8px 6px;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    background: #3492eb;
    color: #000;
    cursor:pointer;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
#kontxt_slideout_inner {
    position: absolute;
    bottom: -50px;
    left: 35px;
    background: #3492eb;
    width: 255px;
    padding: 15px;
    height: 250px;
    cursor:auto;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
#kontxt_recs_showblock:checked + #kontxt_slideout{right: 250px;}
#kontxt_recs_showblock{display:none;}

.kontxt_content_recs {
    margin: 1;
    padding: 0;
}

.kontxt_content_recs ul {
    display: block;
    margin: 0;
    padding: 0;
}
